

<!-- <div class="v147_1781">

    <div class="v147_1784">
        <span class="v147_1785">Leading the Way in Medical Excellence</span>
        <div class="name">

        </div>
        <span class="v147_1786">Caring for Life</span>
    </div>

    <p-card header="Leading the Way in Medical Excellence" subheader="Caring for Life">
    </p-card>
  
    <div class="v157_699">
        <div class="v147_1805">
            <span class="v147_1806">A Great Place to Receive Care</span>
            <span class="v147_1807">Welcome to Meddical</span>
        </div>
        <span class="v147_1811">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque placerat scelerisque tortor ornare ornare. Convallis felis vitae tortor augue. Velit nascetur proin massa in. Consequat faucibus porttitor enim et.</span>
        <div class="name">

        </div>
    </div>

    <div class="v183_139">
        <div class="v147_1927">

        </div>
        <div class="v157_715">
            <span class="v147_1951">Our Services</span>
            <span class="v147_1952">Care you can believe in</span>
        </div>
        <div class="v183_128">
            <div class="v183_127">
                <span class="v147_1928">A passion for putting patients first.</span>
                <div class="v147_1929">
                    <div class="v147_1930">
                        <span class="v147_1931">A Passion for Healing</span>
                        <div class="v147_1932">

                        </div>
                    </div>
                    <div class="v147_1933">
                        <span class="v147_1934">5-Star Care</span>
                        <div class="v147_1935">

                        </div>
                    </div>
                    <div class="v147_1936">
                        <span class="v147_1937">All our best</span>
                        <div class="v147_1938">

                        </div>
                    </div>
                    <div class="v147_1939">
                        <span class="v147_1940">Believe in Us</span>
                        <div class="v147_1941">

                        </div>
                    </div>
                    <div class="v147_1942">
                        <span class="v147_1943">A Legacy of Excellence</span>
                        <div class="v147_1944">

                        </div>
                    </div>
                    <div class="v147_1945">
                        <span class="v147_1946">Always Caring</span>
                        <div class="v147_1947">

                        </div>
                    </div>
                </div>
                <div class="v183_126">
                    <span class="v147_1948">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque placerat scelerisque tortor ornare ornare. Quisque placerat scelerisque tortor ornare ornare Convallis felis vitae tortor augue. Velit nascetur proin massa in. Consequat faucibus porttitor enim et.</span><span class="v147_1949">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque placerat scelerisque. Convallis felis vitae tortor augue. Velit nascetur proin massa in.</span>
                </div>
            </div>
            <div class="v157_720">
                <div class="v147_1953">

                </div>
                <div class="v157_716">
                    <div class="v157_717">

                    </div>
                    <div class="v157_718">

                    </div>
                    <div class="v157_719">

                    </div>
                </div>
            </div>
            <div class="v157_725">
                <div class="v147_1954">

                </div>
                <div class="v157_721">
                    <div class="v157_722">

                    </div>
                    <div class="v157_723">

                    </div>
                    <div class="v157_724">

                    </div>
                </div>
            </div>
            <div class="v147_1955">
                <div class="v147_1956">

                </div>
                <div class="v147_1957">

                </div>
                <div class="v147_1958">
                    <div class="v147_1959">

                    </div>
                    <span class="v147_1960" routerlink="/">View All</span>
                </div>
                <div class="v147_1961">
                    <div class="v183_101">
                        <div class="v183_102">

                        </div>
                    </div>
                    <span class="v147_1963">Free Checkup</span>
                </div>
                <div class="v183_103">
                    <div class="v183_98">

                    </div>
                    <span class="v147_1966">Cardiogram</span>
                </div>
                <div class="v147_1967">
                    <span class="v147_1969">Dna Testing</span>
                    <div class="v183_109">

                    </div>
                </div>
                <div class="v147_1970">
                    <div class="v183_108">

                    </div>
                    <span class="v147_1972">Blood Bank</span>
                </div>
            </div>
        </div>
    </div>

    <div class="v183_140">
        <div class="v147_1974">
            <span class="v147_1975">Our Specialties</span>
            <span class="v147_1976">Always Caring</span>
        </div>
        <div class="v147_1977">
            <div class="v147_1981">

            </div>
            <div class="v147_1982">
                <i class="pi pi-heart-fill" style="font-size: 2.5rem; color: rgb(190, 210, 247)"></i>
                <span class="v147_1984">Bones</span>
            </div>
            <div class="v147_1985">
                <i class="pi pi-heart-fill" style="font-size: 2.5rem; color: rgb(190, 210, 247)"></i>

                <span class="v147_1987">Neurology</span>
            </div>
            <div class="v183_124">
                <div class="v147_1978">

                </div>
                <div class="v147_1979">

                </div>
                <div class="v147_1980">

                </div>
                <div class="v147_1988">

                </div>
                <div class="v147_1989">

                </div>
                <div class="v147_1990">

                </div>
                <div class="v147_1991">

                </div>
                <div class="v147_1992">

                </div>
                <div class="v147_1993">

                </div>
                <div class="v147_1994">

                </div>
                <div class="v147_1995">

                </div>
            </div>
            <div class="v147_1996">
                <div class="v183_114">

                </div>
                <span class="v147_1998">Oncology</span>
            </div>
            <div class="v147_1999">
                <div class="v183_115">

                </div>
                <span class="v147_2001">Otorhinolaryngology</span>
            </div>
            <div class="v147_2002">
                <div class="v183_118">

                </div>
                <span class="v147_2004">Cardiovascular</span>
            </div>
            <div class="v147_2005">
                <div class="v183_121">

                </div>
                <span class="v147_2007">Urology</span>
            </div>
            <div class="v147_2008">
                <div class="v183_119">

                </div>
                <span class="v147_2010">Ophthalmology</span>
            </div>
            <div class="v147_2011">
                <div class="v183_120">

                </div>
                <span class="v147_2013">Gastroenterology</span>
            </div>
            <div class="v147_2014">
                <div class="v183_117">

                </div>
                <span class="v147_2016">Pulmonology</span>
            </div>
            <div class="v147_2017">
                <div class="v183_122">

                </div>
                <span class="v147_2019">Dermatology</span>
            </div>
            <div class="v147_2020">
                <div class="v183_116">

                </div>
                <span class="v147_2022">Renal Medicine</span>
            </div>
            <div class="v147_2023">
                <div class="v183_123">

                </div>
                <span class="v147_2025">Gynaecology</span>
            </div>
        </div>
    </div>
</div> -->


<!-- <!DOCTYPE html>
<html>
    <head>
        <link href="https://fonts.googleapis.com/css?family=Yeseva+One&display=swap" rel="stylesheet" />
        <link href="https://fonts.googleapis.com/css?family=Work+Sans&display=swap" rel="stylesheet" />
        <link href="./css/main.css" rel="stylesheet" />
        <title>Document</title>
    </head>
    <body>
        <div class="v147_1781">
            <div class="v147_1782">
                <div class="v147_1783">

                </div>
                <div class="v157_5">

                </div>
                <div class="v157_7">

                </div>
                <div class="v157_10">
                    <div class="v157_9">

                    </div>
                    <div class="v157_12">

                    </div>
                </div>
                <div class="v157_8">

                </div>
                <div class="v154_4402">

                </div>
                <div class="v147_1784">
                    <span class="v147_1785">Leading the Way in Medical Excellence</span>
                    <div class="name">

                    </div>
                    <span class="v147_1786">Caring for Life</span>
                </div>
            </div>
            <div class="v157_699">
                <div class="v147_1805">
                    <span class="v147_1806">A Great Place to Receive Care</span>
                    <span class="v147_1807">Welcome to Meddical</span>
                </div>
                <span class="v147_1811">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque placerat scelerisque tortor ornare ornare. Convallis felis vitae tortor augue. Velit nascetur proin massa in. Consequat faucibus porttitor enim et.</span>
                <div class="name">

                </div>
            </div>
            <div class="v157_706">
                <div class="v157_701">

                </div>
                <div class="v187_1373">
                    <div class="v157_703">
                        <div class="v157_704">

                        </div>
                        <div class="v157_705">

                        </div>
                    </div>
                    <div class="v157_710">
                        <div class="v157_707">

                        </div>
                        <div class="v157_709">

                        </div>
                        <div class="v157_708">

                        </div>
                    </div>
                </div>
            </div>
            <div class="v183_139">
                <div class="v147_1927">

                </div>
                <div class="v157_715">
                    <span class="v147_1951">Our Services</span>
                    <span class="v147_1952">Care you can believe in</span>
                </div>
                <div class="v183_128">
                    <div class="v183_127">
                        <span class="v147_1928">A passion for putting patients first.</span>
                        <div class="v147_1929">
                            <div class="v147_1930">
                                <span class="v147_1931">A Passion for Healing</span>
                                <div class="v147_1932">

                                </div>
                            </div>
                            <div class="v147_1933">
                                <span class="v147_1934">5-Star Care</span>
                                <div class="v147_1935">

                                </div>
                            </div>
                            <div class="v147_1936">
                                <span class="v147_1937">All our best</span>
                                <div class="v147_1938">

                                </div>
                            </div>
                            <div class="v147_1939">
                                <span class="v147_1940">Believe in Us</span>
                                <div class="v147_1941">

                                </div>
                            </div>
                            <div class="v147_1942">
                                <span class="v147_1943">A Legacy of Excellence</span>
                                <div class="v147_1944">

                                </div>
                            </div>
                            <div class="v147_1945">
                                <span class="v147_1946">Always Caring</span>
                                <div class="v147_1947">

                                </div>
                            </div>
                        </div>
                        <div class="v183_126">
                            <span class="v147_1948">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque placerat scelerisque tortor ornare ornare. Quisque placerat scelerisque tortor ornare ornare Convallis felis vitae tortor augue. Velit nascetur proin massa in. Consequat faucibus porttitor enim et.</span><span class="v147_1949">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque placerat scelerisque. Convallis felis vitae tortor augue. Velit nascetur proin massa in.</span>
                        </div>
                    </div>
                    <div class="v157_720">
                        <div class="v147_1953">

                        </div>
                        <div class="v157_716">
                            <div class="v157_717">

                            </div>
                            <div class="v157_718">

                            </div>
                            <div class="v157_719">

                            </div>
                        </div>
                    </div>
                    <div class="v157_725">
                        <div class="v147_1954">

                        </div>
                        <div class="v157_721">
                            <div class="v157_722">

                            </div>
                            <div class="v157_723">

                            </div>
                            <div class="v157_724">

                            </div>
                        </div>
                    </div>
                    <div class="v147_1955">
                        <div class="v147_1956">

                        </div>
                        <div class="v147_1957">

                        </div>
                        <div class="v147_1958">
                            <div class="v147_1959">

                            </div>
                            <span class="v147_1960">View All</span>
                        </div>
                        <div class="v147_1961">
                            <div class="v183_101">
                                <div class="v183_102">

                                </div>
                            </div>
                            <span class="v147_1963">Free Checkup</span>
                        </div>
                        <div class="v183_103">
                            <div class="v183_98">

                            </div>
                            <span class="v147_1966">Cardiogram</span>
                        </div>
                        <div class="v147_1967">
                            <span class="v147_1969">Dna Testing</span>
                            <div class="v183_109">

                            </div>
                        </div>
                        <div class="v147_1970">
                            <div class="v183_108">

                            </div>
                            <span class="v147_1972">Blood Bank</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="v183_140">
                <div class="v147_1974">
                    <span class="v147_1975">Our Specialties</span>
                    <span class="v147_1976">Always Caring</span>
                </div>
                <div class="v147_1977">
                    <div class="v147_1981">

                    </div>
                    <div class="v147_1982">
                        <div class="v183_113">

                        </div>
                        <span class="v147_1984">Bones</span>
                    </div>
                    <div class="v147_1985">
                        <div class="v183_112">

                        </div>
                        <span class="v147_1987">Neurology</span>
                    </div>
                    <div class="v183_124">
                        <div class="v147_1978">

                        </div>
                        <div class="v147_1979">

                        </div>
                        <div class="v147_1980">

                        </div>
                        <div class="v147_1988">

                        </div>
                        <div class="v147_1989">

                        </div>
                        <div class="v147_1990">

                        </div>
                        <div class="v147_1991">

                        </div>
                        <div class="v147_1992">

                        </div>
                        <div class="v147_1993">

                        </div>
                        <div class="v147_1994">

                        </div>
                        <div class="v147_1995">

                        </div>
                    </div>
                    <div class="v147_1996">
                        <div class="v183_114">

                        </div>
                        <span class="v147_1998">Oncology</span>
                    </div>
                    <div class="v147_1999">
                        <div class="v183_115">

                        </div>
                        <span class="v147_2001">Otorhinolaryngology</span>
                    </div>
                    <div class="v147_2002">
                        <div class="v183_118">

                        </div>
                        <span class="v147_2004">Cardiovascular</span>
                    </div>
                    <div class="v147_2005">
                        <div class="v183_121">

                        </div>
                        <span class="v147_2007">Urology</span>
                    </div>
                    <div class="v147_2008">
                        <div class="v183_119">

                        </div>
                        <span class="v147_2010">Ophthalmology</span>
                    </div>
                    <div class="v147_2011">
                        <div class="v183_120">

                        </div>
                        <span class="v147_2013">Gastroenterology</span>
                    </div>
                    <div class="v147_2014">
                        <div class="v183_117">

                        </div>
                        <span class="v147_2016">Pulmonology</span>
                    </div>
                    <div class="v147_2017">
                        <div class="v183_122">

                        </div>
                        <span class="v147_2019">Dermatology</span>
                    </div>
                    <div class="v147_2020">
                        <div class="v183_116">

                        </div>
                        <span class="v147_2022">Renal Medicine</span>
                    </div>
                    <div class="v147_2023">
                        <div class="v183_123">

                        </div>
                        <span class="v147_2025">Gynaecology</span>
                    </div>
                </div>
            </div>
            <div class="v147_2026">
                <div class="v183_131">

                </div>
                <div class="v147_2027">

                </div>
                <div class="v147_2028">
                    <span class="v147_2029">Book an Appointment</span>
                    <span class="v147_2030">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque placerat scelerisque tortor ornare ornare. Convallis felis vitae tortor augue. Velit nascetur proin massa in. Consequat faucibus porttitor enim et.</span>
                </div>
            </div>
            <div class="v157_657">
                <div class="name">

                </div>
                <div class="name">

                </div>
                <div class="name">

                </div>
            </div>
            <div class="name">

            </div>
            <div class="name">

            </div>
            <div class="name">

            </div>
            <div class="name">

            </div>
            <div class="name">

            </div>
            <div class="name">

            </div>
            <div class="name">

            </div>
        </div>
    </body>
</html> -->